.piano
  #left.speaker
  #right.speaker
  .keyboard
    .button
    .button.alt
    .button
    
    .button
    .button.alt
    .button
    .button.alt
    .button
    .button
    .button.alt
    .button
    .button.alt
    .button
    .button.alt
    .button

    .button
    .button.alt
    .button
    .button.alt
    .button
    .button
    .button.alt
    .button
    .button.alt
    .button
    .button.alt
    .button

    .button
    .button.alt
    .button
    .button.alt
    .button
    .button
    .button.alt
    .button
    .button.alt
    .button
    .button.alt
    .button

    .button
    .button.alt
    .button
    .button.alt
    .button
    .button
    .button.alt
    .button
    .button.alt
    .button
    .button.alt
    .button

    .button
    .button.alt
    .button
    .button.alt
    .button
    .button
    .button.alt
    .button
    .button.alt
    .button
    .button.alt
    .button

    .button
    .button.alt
    .button
    .button.alt
    .button
    .button
    .button.alt
    .button
    .button.alt
    .button
    .button.alt
    .button

    .button
    .button.alt
    .button
    .button.alt
    .button
    .button
    .button.alt
    .button
    .button.alt
    .button
    .button.alt
    .button

    .button